COUCHDB_USER=admin
COUCHDB_PASSWORD=password

# Staging / production
PUBLIC_ORIGIN=http://localhost
PUBLIC_APP_TITLE=Tent
NGINX_PORT=80

# reCaptcha secret key for server-side verification. Required for production builds.
#! ตอนนี้ยังผูกกับเมลล์ของผู้พัฒนาอยู่ ถ้าจะใช้ต้องเปลี่ยนเป็นคีย์ที่ได้จาก Google reCaptcha ของคทีม
SECRET_RECAPTCHA_KEY=6LfvjSktAAAAACiYtja_BbwoHGusXTpV8bgSRwfy